<div>
<br>
<br>
<% if @errors %>
  <% @errors.each do |error| %>
  <%= error %><br>
  <% end %>
  <br>
<% end %>
<%= form_for :user, url: users_path, method: :post do |f| %>
Please Choose a <%= f.label :username %>
<%= f.text_field :username %><br />
Enter your <%= f.label :auth_key %> (optional)
<%= f.text_field :trusted_reviewer%><br />
Please Enter Your <%= f.label :email %>
<%= f.email_field :email %><br />
Please Choose a <%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>
</div>
