<div class="movie-show-container shadow">

  <div class="col" id='movie-info'>
    <p class="movie-title"><%= @movie.title %></p>
    <% if @movie.category %>
      <p><%= @movie.category.genre %></p>
    <% end %>
    <p class="movie-info-specifics">Year: <%= @movie.year %>  |  Runtime: <%= @movie.runtime %></p>
    <p>Notable Actors: <%= @movie.actors %></p>
    <p><%= @movie.plot %></p>
    <div class="movie-info-right">
      <img src=<%= @movie.img %>>
    </div>
  </div>


</div>

<div>
<br>
<br>
<%= form_for :review, url: movie_reviews_path, method: :post do |f| %>
Enter your review below:<br /><br />
<% if @errors %>
  <% @errors.each do |e| %>
    <%= e %>
    <% end %>
  <% end %>

<%= f.text_area(:body, size: '100x20') %><br />
<%= f.submit %>
<% end %>
</div>
