<!DOCTYPE html>
<html>
<head>
  <title>MovieStar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

 <div class="header-container">
  <header class="hide shadow">


    <p id="header">The Unexpected Virtue of Loving Film</p>
    <div class="title">
      <h1 class='title-header'>MovieStar</h1>
    </div>

    <div class="nav-container">
      <nav id="nav-links">
        <a><%= link_to 'home', movies_path %></a>
        <a><%= link_to 'all reviews', reviews_path %></a>
      <% if !logged_in?%>
        <a><%= link_to 'register', new_user_path %></a>
        <a><%= link_to 'login', sessions_new_path %></a>
      <% else %>
        <a><%= link_to 'logout', logout_path, method: :delete %></a>
      <% end %>
      </nav>
    </div>

  </header>
</div>
<br>

<%= yield %>

</body>
</html>
