<div id='movie-info'>
	<h2><%= @movie.title %></h2>
	<% if @movie.category %>
		<p><%= @movie.category.genre %></p>
	<% end %>
	<p>Year: <%= @movie.year %>  |  Runtime: <%= @movie.runtime %></p>
	<p>Notable Actors: <%= @movie.actors %></p>
	<p><%= @movie.plot %></p>
  <img src=<%= @movie.img %>>
</div>

<div id='review-list'>
  <h4>Reviews</h4>
  <% @reviews.each do |review| %>
    <p><%= review.body %></p>
    <p><%= review.reviewer.username %>  |  Average Rating: <%= review.ratings.average(:score).to_i %></p>
    <br>
  <% end %>
</div>
