<div id='movie-info'>
	<h2><%= @movie.title %></h2>
	<% if @movie.category %>
		<p><%= @movie.category.genre %></p>
	<% end %>
	<p>Year: <%= @movie.year %>  |  Runtime: <%= @movie.runtime %></p>
	<p>Notable Actors: <%= @movie.actors %></p>
	<p><%= @movie.plot %></p>
  <img src=<%= @movie.img %>>
</div>

<% if trusted_reviewer? %>
  <a href="/movies/<%= @movie.id %>/reviews/new">Review <%= @movie.title %></a>
<% end %>

<div id='review-list'>
  <h4>Reviews</h4>
  <% @reviews.each do |review| %>
    <p><%= review.body %></p>
    <p><%= review.reviewer.username %>  |  Average Rating: <%= review.ratings.average(:score).to_i %></p>
    <br>
    <% if trusted_rater? %>
      <%= form_tag("/reviews/#{review.id}/ratings", method: "post") do %>
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <%= submit_tag("Submit Review") %>
      <% end %>
    <% end %>
  <% end %>
</div>
